@()

<div class="row">
  <div class="col-md-1 col-md-offset-10">
    <a class="btn btn-primary btn-small pull-right" href="/book/add">Ajouter un livre au référentiel</a>
  </div>
</div>
<div class="row books">
  <div class="col-md-8 col-md-offset-1">
    <ul>
      <li ng-repeat="book in books">
        <p class="title">{{book.title}}</p>
        <p class="author">{{book.author}}</p>
        <p class="genre">{{book.genre}}</p>
        <p class="releaseDate">{{book.releaseDate}}</p>
        <p class="isbn">Code ISBN : {{book.isbn}}</p>
      </li>
    </ul>
  </div>
  <div class="col-md-2 filters">
    Filtres
  </div>
</div>